@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family:
		Space Mono,
		Inter,
		system-ui,
		Avenir,
		Helvetica,
		Arial,
		sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 14px;

	color-scheme: light dark;
	color: #f4f7f5;
	background-color: #3b4344;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
}

#app {
	margin: 0 auto;
	text-align: center;
}

.gantt-item {
	background-color: #588966;
	z-index: 1;
}

.gantt-row.hover {
	background-color: rgb(10 126 194 /0.8);
}

.now-dot {
	position: absolute;
	height: 15px;
	width: 15px;
	background-color: #ff3366;
	border-radius: 50%;
	z-index: 2;
	margin-top: -7.5px;
}
